html {
    background: #d9d9d9;
}

body {
    background: white;
    font-family: 'Inter', sans-serif;
    color: #000000;
    position: absolute;
    width: 393px;
    height: 852px;

}

header {

    position: absolute;
    width: 100%;
    height: 42px;
    background: white;


    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /*line-height: 24px;*/
}

#logo {
    position: absolute;
    width: 48px;
    height: 24px;
    left: 172px;
    top: 13px;
}


#menu {
    position: absolute;
    width: 53px;
    height: 24px;
    left: 10px;
    top: 11px;
    background: #d9d9d9;
}

#user {
    position: absolute;
    width: 51px;
    height: 28px;
    left: 269px;
    top: 11px;
    background: #ffffff;
}

#cart {
    position: absolute;
    width: 51px;
    height: 28px;
    left: 330px;
    top: 11px;
    background: #D9D9D9;
}

main {
    box-sizing: border-box;
    position: absolute;
    width: 393px;
    height: 852px;
    top: 42px;
    background: #FFFFFF;
    padding: 89px 10px 15px 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px #000000;

}

main h1 {
    box-sizing: border-box;
    align-self: center;
    text-align: left;
    top: 29px;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
}

.mesas {
    align-self: center;
    box-sizing: border-box;
    width: 371px;
    height: 325px;
}

.mesas ul {
    box-sizing: border-box;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */
    height:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "elipse1, elipse2"
    "elipse3, elipse4";
    gap:10px;
    justify-items:center;
    align-items:center;
    border: #000000 solid 1px;
}

.mesas ul > li {
    box-sizing: border-box;
    width: 121px;
    height: 111px;
    border: solid 1px #000000;
    border-radius: 200px;
    text-align: center;
    padding-top: 40px;
    margin: 10px;
    transition: 0.5s;
}

.mesas ul  li:hover{
    background: green;
    color:white;
    box-shadow: 0px 0px 10px 20px rgba(243, 207, 8, 0.5);
    border:none;
}


.input-registro {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.cajita {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 357px;
    height: 48px;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
}




main input {
    align-self: center;
    width: 206px;
    height: 33px;
}

main button {
    box-sizing: border-box;
    border: none;
    width: 331px;
    height: 39px;
    font-size: 40px;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    align-self: center;
    bottom: 15px;
}

main p {
    box-sizing: border-box;
    padding-left: 17px;
}